*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#app{
  width: 100%;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 100vh;
  background-image: url('../assets/img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.main-dark{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 100vh;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {

  .main{
      display: flex;
      flex-direction: column;
  }

  .main-dark{
      display: flex;
      flex-direction: column;
  }
}