{% apply inline_css %}
    <style>
        h1 {
            font-size: 28px;
            margin-top: 0;
        }

        p{
            font-size: 16px;
            line-height: 1.5;
            margin: 0 0 20px;
        }

        a {
            color: #8BC34A;
            text-decoration: none;
            color: #fff;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #8BC34A;
            color: #fff;
            border-radius: 5px;
            text-decoration: none;
            margin-top: 20px;
        }
    </style>

    <h1>Bonjour {{ user.firstname }} {{ user.lastname }},</h1>
    
    <p>Vous avez demandé la réinitialisation de votre mot de passe. Pour choisir un nouveau mot de passe, veuillez cliquer sur le lien ci-dessous :</p>
    
    <p><a href="http://127.0.0.1:5173/reset-password/{{user.token}}" class="btn">Réinitialiser mon mot de passe</a></p>
    
    <p>Ce lien est valable 60 minutes. Passé ce délai, vous devrez de nouveau effectuer une demande de réinitialisation de mot de passe.</p>
    
    <p>Si vous n'avez pas effectué cette demande, veuillez ignorer cet email.</p>

    <p>Cordialement,</p>
    <p>Jardinerie Online</p>
{% endapply %}