name: CI

on:
  push:
    branches:
      - master
  pull_request: ~
  workflow_dispatch: ~

jobs:
  api-deploy:
    name: Deploy API
    runs-on: ubuntu-latest

    steps:
      - name: Deploy Digital Ocean v1
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DIGITALOCEAN_HOST }}
          username: ${{ secrets.DIGITALOCEAN_USERNAME }}
          key: ${{ secrets.DIGITALOCEAN_SSH_KEY }}
          script: |
            ssh ${{ secrets.DIGITALOCEAN_USERNAME }}@${{ secrets.DIGITALOCEAN_HOST }}
            cd challenge-jardinerie-final
            docker compose down
            git pull origin master
            SERVER_NAME=challenge-jardinerie.site \ 
            docker compose up -d
